<div class="background vertical-flex center">
    <h1 class="header-item">Administration</h1>
    <button class="button" (click)="openDictionaryDialog()">Liste des dictionnaires</button>
    <button class="button" (click)="openVirtualPlayerDialog()">Modifier les joueurs virtuels</button>
    <button class="button" (click)="openGameHistoryDialog()">Historique des parties</button>
    <div class="button-align">
        <button class="button" (click)="resetHighScores()">Réinitialiser les meilleurs scores</button>
        <button class="button" (click)="resetVirtualPlayers()">Réinitialiser les joueurs virtuels</button>
        <button class="button" (click)="resetGameHistory()">Réinitialiser l'historique des parties</button>
        <button class="button" (click)="resetDictionaries()">Réinitialiser la liste des dictionaires</button>
    </div>
</div>
