.scrollable {
    overflow: auto;
    height: 100%;
    min-height: 37vh;
    max-height: 37vh;
    width: 100%;
}

.available-games {
    width: 100%;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

tr:not(.mat-header-row):hover {
    background: whitesmoke;
}

.top {
    margin-bottom: auto;
    width: 100%;
}
