<div class="background">
    <div class="title justified">
        <img src="https://bit.ly/3m206ss" width="400" height="80" alt="Logo Scrabble" />
    </div>
    <div class="options justified">
        <button class="button" (click)="selectGameType(gameTypes.CLASSIC)">Scrabble classique</button>
        <button class="button" (click)="selectGameType(gameTypes.LOG2990)">Scrabble LOG2990</button>
        <button class="button" (click)="displayHighScores()">Meilleurs scores</button>
    </div>

    <div class="footer-item names">
        <span></span><span></span><span></span><span></span>
        <h4 class="team-name">Équipe 202</h4>
        <div>Jérémie Hakier</div>
        <div>Justin Legrand-Doucet</div>
        <div>Louis Dumont</div>
        <div>Ayman Atmani</div>
        <div>Ismaïl Senouci</div>
    </div>
</div>
