.fit {
    padding: 2vh 0 0 0;
    width: 51vh;
    margin: 0;
    min-height: 37vh;
    max-height: 37vh;
    height: 100%;
}

.main {
    min-height: 37vh;
    max-height: 37vh;
}

.scroll-bar {
    overflow-y: scroll;
}
.title {
    width: 30%;
}

.players {
    padding-inline-start: 1vh;
    box-sizing: border-box;
}

.list {
    align-content: space-between;
    height: 8vh;
    width: 55vh;
    display: flex;
    margin-top: 10px;
}

.left {
    left: 0px;
}

.button-align {
    display: flex;
    width: 70%;
    align-content: center;
    justify-content: flex-end;
    gap: 2vh;
}

.bottom {
    margin-left: 30%;
    margin-right: 70%;
}

.form {
    height: 1vh;
    width: auto;
}

.button {
    height: 3vh;
    width: 20vh;
    font-size: 10px;
    background: gray;
}
